.crosLine {
    text-decoration: line-through;
  }
  .q2div{
    /* display: flex;
    flex-direction: column; */
    border-style: solid ;
    border-width: 3px;
    margin: 10px;
    padding: 5px;
  }
  .q2Img{
    width: 300px;
  }